<a href="https://jontes.page/advertise?site=candycane" draggable="false">
  <div
    class="acceptable-ad-spot mx-auto max-w-4xl hover:underline bg-primaryMuted my-8 p-2 rounded text-white"
  >
    <div
      class="bg-primary text-xs font-bold rounded-full px-2 py-1 inline-block"
    >
      Ad
    </div>
    This is an acceptable ad spot. You can advertise here.
  </div>
</a>
